
<div id="<%= dom_id(device) %>">
    <% device_class = 'fill-blue-400' %>
    <% case device.status %>
    <% when 'working' %>
        <% device_class = 'border p-2 bg-green-200 border-green-800 hover:bg-green-400' %>
    <% when 'broken' %>
        <% device_class = 'border p-2 bg-red-200 border-red-800 hover:bg-red-400' %>
    <% when 'maintenance' %>
        <% device_class = 'border p-2 bg-yellow-200 border-yellow-800 hover:bg-yellow-400' %>

    <% end %>
    <%= link_to device, data: { turbo: false } do %>
        <div class="<%= device_class %>">
            <%= device.name %>
            <%= device.device_updates.last.created_at.strftime("%d/%m/%Y %H:%M") %>
        </div>
    <% end %>
</div>