<%= turbo_stream_from(:device) %>
<div class="container mx-auto pb-4">
    <div class="max-w-5xl mx-auto bg-tertiary shadow-md p-8 mt-2 rounded">
        <div class="text-2xl"><%= link_to @device.restaurant.name, @device.restaurant %> > <%= @device.name %></div>
        <%= turbo_frame_tag "device", class: "grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 m-2 gap-2" do %>
            <%= render @device %>
        <% end %>
    </div>

    <div class="max-w-5xl mx-auto bg-tertiary shadow-md p-8 mt-2 rounded">
        <h1 class="text-2xl">Ultimas actualizaciones</h1>
        <ul id="device_<%= @device.id %>_updates">
        <%= turbo_frame_tag "device_#{@device.id}_updates" do %>
            <% @device.device_updates.order(created_at: :desc).first(20).each do |du| %>
                <%= render partial: 'devices/device_update', locals: { device_update: du } %>
            <% end %>
        <% end %>
        </ul>
    </div>
</div>